[charter-applications]
name=CharterApplications
baseurl=http://{{ nexus_hostname }}:8081/nexus/content/repositories/charter-applications
timeout=5
enabled=1
protect=1
gpgcheck=0
metadata_expire=30s
autorefresh=1
type=rpm-md
priority=5